.l-home {
  height: inherit;
  width: inherit;
}
.repositories {
  height: 37rem;
  overflow-x: hidden;
}
.search-form {
  padding: 1rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 640px) {
    .search-form{
        flex-direction: column;
    }
  .repositories {
    height: 23.3rem;
  }
}
